# Derleme ve geçici dosyalar
bin/
obj/
publish/
TestResults/
*.dll
*.pdb
*.exe
*.cache
*.log

# Visual Studio ve Rider gereksiz dosyalar
.vs/
.idea/
*.suo
*.user
*.sln.docstates

# Dokümantasyon SSH anahtarı
_devops/ssh/id_rsa_mobileapp
_devops/ssh/
