name: Build and Push All Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push-all:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push IAM Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./_devops/docker/Dockerfile-modules-iam
          push: true
          tags: mstfaock/hirovo-iam-api:latest

      - name: Build and push Hirovo Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./_devops/docker/Dockerfile-modules-hirovo
          push: true
          tags: mstfaock/hirovo-hirovo-api:latest

      - name: Build and push API Gateway Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./_devops/docker/Dockerfile-api-gateway
          push: true
          tags: mstfaock/hirovo-api-gateway:latest
